:root {
    --c-black: #0b101b;
    --c-gray: #181e29;
    --c-lite: #c9ced6;
    --c-blue: #144ee3;
    --c-pink: #eb568e;
    --c-white: #FFFFFF;
    --c-h-blue: #0f38a1;
    --c-h-gray: #131820;
}

html {
    background: var(--c-black);
    background-repeat: no-repeat;
}
html,
body {
    color: var(--c-lite);
    font-family: var(--font-inter);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.layout {
    padding: 2.5rem 3.125rem;
    height: 100dvh;
    background-position: center;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}


@media (max-width: 768px) {
    .layout {
        padding: 2.5rem 1.625rem;
    }

    #registernow{
        display: none;
    }
}

/* animation css background */
.animated-elements-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: -1;
}

.animated-elements-bg > svg {
    position: absolute;
    animation: moveAround 10s linear infinite;
    opacity: 0.7;
}

.animated-elements-bg > svg:nth-child(1) {
    top: 20%;
    left: 10%;
    animation-delay: 0s;
}

.animated-elements-bg > svg:nth-child(2) {
    top: 50%;
    left: 50%;
    animation-delay: 1s;
}

.animated-elements-bg > svg:nth-child(3) {
    top: 80%;
    left: 20%;
    animation-delay: 4s;
}
.animated-elements-bg > svg:nth-child(4) {
    top: 4%;
    right: 10%;
    animation-delay: 6s;
}

@keyframes moveAround {
    0% {
        transform: translate(0, 0) rotate(180deg) scale(1);
    }
    25% {
        transform: translate(20px, -20px) rotate(45deg) scale(1.1);
    }
    50% {
        transform: translate(-20px, 20px) rotate(90deg) scale(1);
    }
    75% {
        transform: translate(40px, -40px) rotate(135deg) scale(0.9);
    }
    100% {
        transform: translate(0, 0) rotate(180deg) scale(1);
    }
}
