:root {
    --c-black: #0b101b;
    --c-gray: #181e29;
    --c-lite: #c9ced6;
    --c-blue: #144ee3;
    --c-pink: #eb568e;
    --c-white: #FFFFFF;
}

html,
body {
    color: var(--c-lite);
    background: var(--c-black);
    font-family: var(--font-inter);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.layout {
    padding: 2.5rem 3.125rem;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}


@media (max-width: 768px) {
    .layout {
        padding: 2.5rem 1.25rem;
    }

    #registernow{
        display: none;
    }
}
