.page__content {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 0 6.25rem;
    margin-top: 9.375rem;
    text-align: center;
}

.page__content > h1 {
    font-weight: 800;
    background-image: linear-gradient(89.92deg, #144EE3 -0.02%, #EB568E 18.86%, #A353AA 64.49%, #144EE3 100.67%);
    font-size: 3.75rem;
    line-height: 5rem;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    user-select: none;
    text-align: center;
    animation: backgroundmove 10s ease infinite;
    background-size: 150% auto;
}

.page__content > h1::before {
    content: 'Just Optimize Jumping Online Shortcuts';
}

.page__content > p {
    font-size: 1rem;
    line-height: 1.75rem;
    color: var(--c-lite);
    text-align: center;
    padding: 0 6rem;
    font-weight: 300;
}


@media (max-width: 768px) {
    .page__content {
        padding: 0 1.25rem;
        margin-top: 6.25rem;
    }

    .page__content > h1 {
        font-size: 2.5rem;
        line-height: 3.75rem;
    }

    .page__content > p {
        padding: 0 1rem;
    }

    .page__content > h1::before {
        content: 'Shorten Your Loooong Links :)';
    }

}


@keyframes backgroundmove {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}
