.page__content {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 0 6.25rem;
    margin-top: 9.375rem;
    text-align: center;
    align-items: center;
}

.page__content > h1 {
    font-weight: 800;
    background-image: linear-gradient(
        89.92deg,
        #144ee3 -0.02%,
        #eb568e 18.86%,
        #a353aa 64.49%,
        #144ee3 100.67%
    );
    font-size: 3.75rem;
    line-height: 5rem;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    user-select: none;
    text-align: center;
    animation: backgroundmove 10s ease infinite;
    background-size: 150% auto;
}

.page__content > h1::before {
    content: 'Just Optimize Jumping Online Shortcuts';
}

.page__content > p {
    font-size: 1rem;
    line-height: 1.75rem;
    color: var(--c-lite);
    text-align: center;
    font-weight: 300;
    max-width: 634px;
}

.convert__container {
    display: flex;
    flex-direction: column;
    max-width: 659px;
    width: -webkit-fill-available;
    margin-top: 2rem;
    align-items: center;
}

.options__container {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    justify-content: center;
    align-items: center;
}

.options__container > p {
    font-weight: 300;
    font-size: 14px;
    text-wrap: wrap;
}

.options__container > p > span {
    font-weight: 600;
    color: var(--c-pink);
}

.options__container > p > a {
    font-weight: 600;
    color: var(--c-blue);
    text-decoration: underline;
}

.switch__container {
    display: flex;
    gap: 0.938rem;
    font-weight: 300;
    justify-content: center;
    margin-top: 2rem;
}

.option__result {
    position: relative;
    padding: 12px;
    border-radius: 8px;
    z-index: 0;
}

.option__result::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 8px;
    padding: 2px;
    background: linear-gradient(
        89.92deg,
        #144ee3 -0.02%,
        #eb568e 18.86%,
        #a353aa 64.49%,
        #144ee3 100.67%
    );
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;
    z-index: -1;
    animation: backgroundmove 5s linear infinite;
    background-size: 200% 200%;
}

@media (max-width: 768px) {
    .page__content {
        padding: 0 1.25rem;
        margin-top: 6.25rem;
    }

    .page__content > h1 {
        font-size: 2.5rem;
        line-height: 3.75rem;
    }

    .page__content > p {
        padding: 0 1rem;
    }

    .page__content > h1::before {
        content: 'Shorten Your Loooong Links :)';
    }

    .options__container {
        max-width: 312px;
    }
}

@keyframes backgroundmove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
